version: '3.8'

services:
  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - '${MYSQL_DB_PORT}:${MYSQL_DB_PORT}'
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "--silent"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - mysql_data:/var/lib/mysql
  red-file:
    build:
      context: ./archivos-rojos
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
    environment:
      CONNECTION_TYPE: ${CONNECTION_TYPE}
      NODE_ENV: ${NODE_ENV}
      BACKEND_PORT: ${BACKEND_PORT}
      BACKEND_CONNECTION_LIMIT: ${BACKEND_CONNECTION_LIMIT}
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DB_PORT: ${MYSQL_DB_PORT}
      CUSTOM_HOST: ${CUSTOM_HOST}
      FRONTEND_PORT: ${FRONTEND_PORT}
      MAIL_HOST: ${MAIL_HOST}
      MAIL_PORT: ${MAIL_PORT}
      MAIL_SOURCE: ${MAIL_SOURCE}
      MAIL_USER: ${MAIL_USER}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
      FRONTEND_HOST: web-ui
      DEV_PORT: ${DEV_PORT}
      PROFILE: ${PROFILE}
    ports:
      - '${BACKEND_PORT}:${BACKEND_PORT}'
      - '${MAIL_PORT}:${MAIL_PORT}'
  web-ui:
    build:
      context: ./cabezas-de-jaguar
      dockerfile: Dockerfile
    environment:
      - FRONTEND_PORT=${FRONTEND_PORT}
      - REACT_APP_HTTPS=${REACT_APP_HTTPS}
      - REACT_APP_API_ENDPOINT=${REACT_APP_API_ENDPOINT}
    volumes:
      - ./.env:/app/.env
    ports:
      - '${FRONTEND_PORT}:${FRONTEND_PORT}'
  nginx:
    image: nginx
    ports:
      - '80:80'
      - '443:443'
    environment:
      BACKEND_PORT: ${BACKEND_PORT}
      FRONTEND_PORT: ${FRONTEND_PORT}
      CUSTOM_HOST: ${CUSTOM_HOST}
    volumes:
    - ./nginx-proxy/default.conf:/etc/nginx/templates/default.conf.template
    - /home/jaguar/ssl:/etc/ssl/asociacion
    depends_on:
      - web-ui
      - red-file
    restart: always

volumes:
  mysql_data:
    driver: local
